$indicator-text-height: 40px;

$indicator-text-overlap: $indicator-text-height * 0.3;

$bar-height: 60px;
$bar-top: $indicator-text-height - $indicator-text-overlap;

$indicator-height: $bar-height - $indicator-text-overlap;
$indicator-top: $indicator-text-height;

$total-height: $indicator-text-height + $bar-height - $indicator-text-overlap;

.color-progress-bar {
  display: block;
  margin: 20px;
  box-sizing: border-box;
  position: relative;
  height: $total-height;

  .bar {
    position: absolute;
    z-index: 100;
    top: $bar-top;
    height: $bar-height;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  .indicator-text {
    position: absolute;
    z-index: 101;
    top: 0;
    height: $indicator-text-height;
    line-height: $indicator-text-height;
    background-color: #888888;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 100px;
    text-align: center;
  }
  .indicator {
    position: absolute;
    z-index: 101;
    top: $indicator-top;
    height: $indicator-height;
    background-color: #888888;
  }
  .range {
    flex-grow: 1;
    display: block;
    text-align: center;
    height: $bar-height;
    line-height: $bar-height;
    color: #333;
  }
}
