@import '../common.scss';
@use 'sass:math';

$button-color: $theme-color1;
$button-height: 50px;
$text-active-color: $theme-color4;

.connect-button {
  display: block;
  height: $button-height;
  line-height: $button-height;
  text-align: center;
  font-size: 1em;
  border-radius: math.div($button-height, 2);
  border: 1px solid $button-color;
  background-color: transparent;
  color: $button-color;
  &:hover {
    background-color: $button-color;
    color: $text-active-color;
  }
}
