@use 'sass:math';
@import "./resources/common.scss";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: #fafafa !important;
}

$logo-size: 40px;
$icon-size: 26px;

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: white;

  .logo,
  .icon {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
  }

  .logo {
    width: $logo-size;
    height: $logo-size;
  }
  .icon {
    width: $icon-size;
    height: $icon-size;
    fill: $theme-color4;
    &:hover {
      fill: $theme-color2;
    }
  }
  .connect-button {
    margin-left: 5px;
  }
}
.app-header-container {
  width: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  &.right {
    justify-content: flex-end;
  }
}

.app-body {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.defi-info {
  > * {
    margin-bottom: 20px;
  }
}

$defi-title-size: 30px;
$defi-title-info-size: 15px;
.defi-title {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.defi-title-logo {
  height: $defi-title-size;
  width: $defi-title-size;
}
.defi-title-text {
  font-size: $defi-title-size;
  color: #333;
  margin-left: 15px;
}
$defi-more-size: 25px;
.defi-title-more {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: $theme-color4;
  background-color: white;
  padding: 0 10px;
  border: 1px solid #eee;
  margin-left: 15px;
  font-size: $defi-more-size * 0.6;
  height: $defi-more-size;
  cursor: pointer;
  line-height: $defi-more-size;
  border-radius: $defi-more-size * 0.5;
  &:hover {
    color: $theme-color4;
    text-decoration: none;
  }
}
.defi-title-info-container {
  position: relative;
  cursor: pointer;
  height: $defi-title-size;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 20px;
  &:hover {
    > .defi-title-info-card {
      display: block;
    }
  }
}
.defi-title-info-icon {
  &:before {
    content: "i";
  }
  display: inline-block;
  text-align: center;
  line-height: $defi-title-info-size;
  width: $defi-title-info-size;
  height: $defi-title-info-size;
  font-size: $defi-title-info-size * 0.7;
  border: 1px solid #888;
  color: #888;
  font-weight: bold;
  border-radius: 50%;
}
.defi-title-info-card {
  &:hover {
    display: block;
  }
  position: absolute;
  left: $defi-title-info-size + 20px;
  top: 0;
  display: none;
  background-color: rgb(179 236 250 / 80%);
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #8fb6bf;
  box-shadow: 3px 2px 6px 1px #e2e2e2;
}

// a card group which display cards using flex
// card cols and gutter can be passed in as parameters
@mixin card-group($cols-desktop, $cols-mobile, $gutter-x, $gutter-y) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$gutter-x * 0.5;
  margin-right: -$gutter-x * 0.5;
  > * {
    width: 0;
    flex-grow: 1;
    margin: ($gutter-y * 0.5) ($gutter-x * 0.5);
    flex-basis: calc(#{math.div(100, $cols-desktop)}% - #{$gutter-x});

    @media screen and (max-width: 720px) {
      flex-basis: calc(#{math.div(100, $cols-mobile)}% - #{$gutter-x});
    }
  }
}

.defi-card-group-2 {
  @include card-group(2, 1, 20px, 20px);
}

.defi-card-group-6 {
  @include card-group(3, 2, 20px, 20px);
}

.defi-card {
  border-radius: 10px;
  background-color: #eee;
  padding: 10px;
  > *:not-first-child {
    margin-top: 10px;
  }
}

.defi-card-title {
  font-size: 0.8em;
  color: #666;
}

.defi-card-large-text {
  font-size: 1.4em;
  text-align: center;
}
