@import "./resources/common.scss";

body {
  background-color: #fafafa !important;
}

$logo-size: 40px;
$icon-size: 26px;

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: white;

  .logo, .icon {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
  }

  .logo {
    width: $logo-size;
    height: $logo-size;
  }
  .icon {
    width: $icon-size;
    height: $icon-size;
    fill: $theme-color4;
    &:hover {
      fill: $theme-color2;
    }
  }
  .connect-button {
    margin-left: 5px;
  }
}
.app-header-container {
  width: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  &.right {
    justify-content: flex-end;
  }
}

.app-body {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.defi-title-bar {
  margin: 20px 0;
  .title {
    font-size: 1.5em;
    color: #333;
  }
}

.defi-card {
  border-radius: 20px;
  background-color: #eee;

  .title {
    font-size: 1em;
    color: #666;
  }
}
