@use 'sass:math';
@import "./resources/common.scss";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: #fafafa !important;
}

$logo-size: 40px;
$icon-size: 26px;

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: white;

  .logo,
  .icon {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
  }

  .logo {
    width: $logo-size;
    height: $logo-size;
  }
  .icon {
    width: $icon-size;
    height: $icon-size;
    fill: $theme-color4;
    &:hover {
      fill: $theme-color2;
    }
  }
  .connect-button {
    margin-left: 5px;
  }
}
.app-header-container {
  width: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  &.right {
    justify-content: flex-end;
  }
}

.app-body {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.defi-info > *{
  margin: 20px 0;
}

.defi-title-bar {
  .title {
    font-size: 1.5em;
    color: #333;
  }
}

// a card group which display cards using flex
// card cols and gutter can be passed in as parameters
@mixin card-group($cols-desktop, $cols-mobile, $gutter-x, $gutter-y) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$gutter-x * 0.5;
  margin-right: -$gutter-x * 0.5;
  > * {
    width: 0;
    flex-grow: 1;
    margin: ($gutter-y * 0.5) ($gutter-x * 0.5);
    flex-basis: calc(#{math.div(100, $cols-desktop)}% - #{$gutter-x});

    @media screen and (max-width: 720px) {
      flex-basis: calc(#{math.div(100, $cols-mobile)}% - #{$gutter-x});
    }
  }
}

.defi-card-group-2 {
  @include card-group(2, 1, 15px, 0);
}

.defi-card-group-6 {
  @include card-group(3, 2, 15px, 20px);
}

.defi-card {
  border-radius: 10px;
  background-color: #eee;
  padding: 10px;
  > *:not-first-child {
    margin-top: 10px;
  }
}

.defi-card-title {
  font-size: 0.8em;
  color: #666;
}

.defi-card-large-text {
  font-size: 1.4em;
  text-align: center;
}
